<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark mb-3">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <h3>MyBooks</h3>
      <nav class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/"
        >
          Home
        </a>
        <a class="nav-link" routerLinkActive="active" routerLink="/authors">
          Autores
        </a>
        <a class="nav-link" routerLinkActive="active" routerLink="/books">
          Livros
        </a>
        <a class="nav-link" routerLinkActive="active" routerLink="/categories">
          Categorias
        </a>
        <div class="animation"></div>
      </nav>
    </div>
  </div>
</nav>
